.container {
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */

}

.src {
    /* margin: 20px; */
}

.btn {
    background-color: blue;
    color: aliceblue;
    padding: 5px;
    border-radius: 2px;

}

.poster {
    align-items: center;
    margin-top: 20px;
    width: 500px;
}

.poster-contant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}